@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  html {
    @apply text-base;
  }
  details {
    @apply border-b border-light-grayish-blue;
  }
  details > * {
    @apply transition-all duration-300;
  }
  details > p {
    @apply text-[1.2rem] leading-tight text-dark-grayish-blue pb-[1.6rem];
  }

  details > summary {
    @apply font-normal text-[1.3rem] leading-tight text-very-dark-desaturated-blue cursor-pointer py-[2rem];
    @apply lg:text-[1.4rem];
    @apply flex items-center justify-between list-none;
    @apply hover:text-soft-red;
    @apply after:w-4 after:h-[.8rem] after:bg-arrow after:bg-right after:bg-no-repeat;
  }
  details[open] > summary {
    @apply font-bold;
    @apply after:rotate-180;
  }
}

@layer components {
  .section {
    @apply w-full lg:w-1/2 h-full;
  }

  .image-section {
    @apply lg:pt-[7rem] lg:pr-[8.7rem] lg:pb-[8rem];
  }

  .content-section {
    @apply lg:pt-[6.5rem] lg:pr-[9.5rem] lg:pb-[8.3rem];
  }
}

@layer utilities {
}
