@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  @apply text-base;
}

a {
  @apply font-medium text-[#646cff];
}
a:hover {
  @apply text-[#535bf2];
}

details {
  @apply border-b border-light-grayish-blue
  /* border-bottom: 1px solid black; */;
}

details > * {
  @apply transition-all duration-300;
}

details > p {
  @apply pb-[1.6rem];
}

details > summary {
  @apply font-normal text-[1.3rem] leading-tight text-very-dark-desaturated-blue cursor-pointer py-[2rem];
  @apply flex items-center justify-between list-none;
  /* display: list-item; */
  /* list-style: none; */

  /* background: url('./images/icon-arrow-down.svg') no-repeat right; */
  /* @apply font-medium text-[#646cff]; */
}

details > summary > svg {
  display: inline-block;
  margin-left: auto;
}

details[open] > summary {
  @apply font-bold;
  /* display: list-item; */
  /* list-style: none; */
  /* background: url('./images/icon-arrow-down.svg') no-repeat right; */
  /* transform: rotate(90deg); */
  /* @apply font-medium text-[#646cff]; */
}

details[open] > summary > svg {
  transform: rotate(180deg);
}
